@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:wght@200;300;400;500&display=swap');

*{
font-family: quicksand;
  background-color: midnightblue;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.App{
  display: flex;
  flex-direction: column;
}

.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 90%;
  height: 8vh;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.navbar h1{
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  color: coral;
}

.navbar .links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
}

.title{
  text-align: center;
}

h1{
  font-weight: 800;
}


.links a{
  text-decoration: none;
  color: coral;
  transition: .5s;
}.links a:hover{
  color: blanchedalmond;
}

.home{
  margin-top: 3rem;
}

.blog-preview{
  border-radius: 2rem;
  border: 1px solid rgb(57, 57, 204);
  box-shadow: 1px 3px 5px rgb(13, 13, 78);
  padding: .5rem 1.5rem 1.5rem 1.5rem;
  margin-top: 1rem;
  transition: .4s;
}.blog-preview:hover{
  transform: scale(1.01);
  box-shadow: 4px 6px 3px rgb(13, 13, 78);
}

.blog-list-title{
  margin-left: 5px;
}

.content{
  width: 60%;
  margin: 0 auto;
}

.delete-blog{
  border-radius: 1rem;
  background-color: white;
  border: none;
  color: midnightblue;
  font-weight: 700;
  padding: 8px 10px 8px 10px;
  text-align: center;
}

.loading{
  text-align: center;
  font-size: 1.6rem;
  color: coral;
  font-weight: 500;
  letter-spacing: 3px;
  animation: loading-ani infinite 2.5s linear;
}

@keyframes loading-ani {

  0% {
    transform: scale(.950);
    color: bisque;
  }
  50% {
    transform: scale(1);
    color: coral;
  }
  100% {
    transform: scale(.950);
    color: bisque;
  }

}

.error{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}.error img{
  max-width: 30%;
}